@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";
@font-face {
  src: url("../fonts/hussarwoodtypeultra.otf");
  font-family: Hussar;
}
/* line 5, ../sass/app.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #f6f6f6;
}

/* line 13, ../sass/app.scss */
.no-margin {
  margin: 0;
}

/* line 17, ../sass/app.scss */
.no-padding {
  padding: 0 !important;
}

/* line 23, ../sass/app.scss */
.navbar-brand .Search_title {
  font-size: 24px;
  color: #dec300;
  font-family: Hussar;
}
/* line 28, ../sass/app.scss */
.navbar-brand .Search_title .bold {
  color: #000;
}
/* line 35, ../sass/app.scss */
.navbar-brand .Search_title .thin {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #4c4c4c;
}
/* line 41, ../sass/app.scss */
.navbar-brand .Search_title .yellow-text {
  padding-left: 10px;
  font-size: 14px;
  color: #dec300;
}

/* line 51, ../sass/app.scss */
.navbar-inner-page {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #acaeae;
  background: #FFF;
  padding: 15px 0;
  margin: 0;
}
/* line 62, ../sass/app.scss */
.navbar-inner-page .navbar-nav li {
  padding: 0 5px;
}
/* line 64, ../sass/app.scss */
.navbar-inner-page .navbar-nav li a {
  color: #777;
  text-transform: capitalize;
  font-weight: 600;
}

/* line 75, ../sass/app.scss */
.navbar-custom {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #989a9a;
  background: #FFF;
  padding: 24px 0;
  margin: 0;
}
/* line 85, ../sass/app.scss */
.navbar-custom .navbar-nav li a {
  color: #777;
  text-transform: capitalize;
  font-weight: 600;
}

/* line 95, ../sass/app.scss */
.Search-Wrapper {
  background: radial-gradient(#edf8fa, #b0d1d4);
  min-height: 600px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* line 104, ../sass/app.scss */
.Search_title {
  font-size: 70px;
  color: #dec300;
  font-family: Hussar;
  margin-bottom: 50px;
}
/* line 110, ../sass/app.scss */
.Search_title .bold {
  color: #000;
}
/* line 117, ../sass/app.scss */
.Search_title .thin {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #4c4c4c;
}
/* line 123, ../sass/app.scss */
.Search_title .yellow-text {
  font-size: 30px;
  color: #dec300;
}

/* line 130, ../sass/app.scss */
.Search-des {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 1.7px;
  margin-bottom: 20px;
}

/* line 137, ../sass/app.scss */
.Search-inner-page {
  position: relative;
  margin-right: 20px;
}
/* line 140, ../sass/app.scss */
.Search-inner-page input {
  border: 0;
  width: 287px;
  padding: 10px 35px 10px 15px;
  height: 49px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  background: #eeeeee;
  color: #aaa1a1;
  outline: none;
}
/* line 152, ../sass/app.scss */
.Search-inner-page .email-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #dec300;
  color: #FFF;
  height: 49px;
  width: 60px;
  border: 0;
  border-radius: 4px;
}
/* line 162, ../sass/app.scss */
.Search-inner-page .email-btn i {
  font-size: 26px;
}

/* line 169, ../sass/app.scss */
.Search {
  position: relative;
}
/* line 171, ../sass/app.scss */
.Search input {
  border: 0;
  width: 100%;
  padding: 10px 15px;
  height: 49px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  color: #000;
  outline: none;
}
/* line 182, ../sass/app.scss */
.Search .email-btn {
  position: absolute;
  top: 0;
  right: -30px;
  background: #dec300;
  color: #FFF;
  height: 49px;
  width: 60px;
  border: 0;
  border-radius: 4px;
}
/* line 192, ../sass/app.scss */
.Search .email-btn i {
  font-size: 30px;
}

/* line 199, ../sass/app.scss */
.no-margin {
  margin: 0 !important;
}

/* line 204, ../sass/app.scss */
.section-title {
  margin: 30px 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: #4a4a4a;
  font-weight: 600;
  float: left;
  width: 100%;
}
/* line 213, ../sass/app.scss */
.section-title.font18 {
  font-size: 18px !important;
}
/* line 218, ../sass/app.scss */
.section-title a {
  color: #28acb6;
}

/* line 223, ../sass/app.scss */
.icon-mdi {
  padding: 6px 15px !important;
  border-left: 1px solid #ddd;
  text-align: center;
}
/* line 228, ../sass/app.scss */
.icon-mdi .mdi:before {
  font: normal normal normal 34px/1 "Material Design Icons";
}

/* line 233, ../sass/app.scss */
.Recent-pro-box {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
/* line 240, ../sass/app.scss */
.Recent-pro-box .visiter {
  background: #eeeeee;
  padding: 15px 15px;
  float: left;
  transition: .4s ease-in-out;
  width: 100%;
  position: relative;
}
/* line 248, ../sass/app.scss */
.Recent-pro-box .visiter img {
  max-height: 58px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 10px;
}
/* line 258, ../sass/app.scss */
.Recent-pro-box .visiter .name {
  float: left;
  font-weight: 600;
  padding-top: 20px;
}
/* line 263, ../sass/app.scss */
.Recent-pro-box .visiter .name a {
  color: #4a4a4a;
}
/* line 269, ../sass/app.scss */
.Recent-pro-box .recent-description {
  background: #eeeeee;
  border-bottom: 1px solid #d2d2d2;
  padding: 15px 15px;
  float: left;
  transition: .4s ease-in-out;
  width: 100%;
  position: relative;
}
/* line 277, ../sass/app.scss */
.Recent-pro-box .recent-description::before {
  position: absolute;
  top: -24px;
  left: 30px;
  width: 20px;
  height: 20px;
  content: '';
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-top: 13px solid transparent;
  border-bottom: 13px solid #eee;
}
/* line 290, ../sass/app.scss */
.Recent-pro-box .recent-description .product-name {
  color: #4a4a4a;
  margin-top: 0;
  line-height: 1.5;
  min-height: 50px;
  font-weight: 600;
}
/* line 297, ../sass/app.scss */
.Recent-pro-box .recent-description .product-name:hover {
  color: #dec300;
}
/* line 300, ../sass/app.scss */
.Recent-pro-box .recent-description .product-name a {
  color: #4a4a4a;
  display: block;
}
/* line 304, ../sass/app.scss */
.Recent-pro-box .recent-description .product-name a:hover {
  color: #dec300;
}
/* line 312, ../sass/app.scss */
.Recent-pro-box .like-count {
  margin: 0;
}
/* line 314, ../sass/app.scss */
.Recent-pro-box .like-count i {
  font-size: 22px;
}

/* line 321, ../sass/app.scss */
.shops-box {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
/* line 325, ../sass/app.scss */
.shops-box .company-logo {
  position: relative;
  background: #FFF;
  height: 320px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid transparent;
}
/* line 335, ../sass/app.scss */
.shops-box .company-logo img {
  max-width: 310px;
}
/* line 342, ../sass/app.scss */
.shops-box .company-logo:hover {
  border: 1px solid #dbdbdb;
  border-bottom: 0;
}
/* line 351, ../sass/app.scss */
.shops-box .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  color: #28acb6;
  padding-top: 10px;
  text-align: center;
}
/* line 363, ../sass/app.scss */
.shops-box .heart i {
  cursor: pointer;
  font-size: 30px;
  color: #28acb6;
}

/* line 373, ../sass/app.scss */
a {
  transition: .4s ease-in-out;
}
/* line 376, ../sass/app.scss */
a:hover {
  text-decoration: none;
}

/* line 381, ../sass/app.scss */
.company-description {
  background: #eeeeee;
  padding: 15px 18px 17px;
  float: left;
  transition: .4s ease-in-out;
  width: 100%;
  position: relative;
}
/* line 388, ../sass/app.scss */
.company-description::before {
  position: absolute;
  top: -24px;
  left: 30px;
  width: 20px;
  height: 20px;
  content: '';
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-top: 13px solid transparent;
  border-bottom: 13px solid #eee;
}
/* line 401, ../sass/app.scss */
.company-description .company-name {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  margin-top: 0;
  font-weight: 600;
}
/* line 407, ../sass/app.scss */
.company-description .company-name:hover {
  color: #dec300;
}
/* line 410, ../sass/app.scss */
.company-description .company-name a {
  color: #4a4a4a;
  display: block;
}
/* line 414, ../sass/app.scss */
.company-description .company-name a:hover {
  color: #dec300;
}
/* line 426, ../sass/app.scss */
.company-description .review-count {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  font-weight: 600;
  padding-left: 20px;
}

/* line 438, ../sass/app.scss */
.star-review a {
  display: inline-block;
  padding: 1px 4.5px;
  border-radius: 2px;
  background: #c6c6c6;
  transition: .4s ease-in-out;
}
/* line 446, ../sass/app.scss */
.star-review a.checked {
  background: #dec300;
}
/* line 449, ../sass/app.scss */
.star-review a.half-checked {
  background: linear-gradient(to right, #dec300 50%, #c6c6c6 50%);
}
/* line 454, ../sass/app.scss */
.star-review a i {
  color: #FFF;
}

/* line 462, ../sass/app.scss */
.ytp-large-play-button-bg {
  fill: #fff !important;
  fill-opacity: .8;
}

/* line 468, ../sass/app.scss */
.load-more {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background: #fff;
  border-color: #d2d2d2;
  color: #28acb6;
  margin-bottom: 30px;
  letter-spacing: 1.2px;
  font-size: 16px;
  padding: 14px;
  float: left;
}
/* line 480, ../sass/app.scss */
.load-more:hover {
  border-color: #28acb6;
  color: #fff;
  background: #28acb6;
}

/* line 487, ../sass/app.scss */
.post-img {
  position: relative;
  background: #FFF;
  height: 320px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

/* line 500, ../sass/app.scss */
.recent-blog-box {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
/* line 506, ../sass/app.scss */
.recent-blog-box .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  color: #28acb6;
  padding-top: 10px;
  text-align: center;
}
/* line 519, ../sass/app.scss */
.recent-blog-box .heart i {
  cursor: pointer;
  font-size: 30px;
  color: #28acb6;
}

/* line 530, ../sass/app.scss */
.post-description {
  background: #eeeeee;
  padding: 15px 18px 17px;
  float: left;
  transition: .4s ease-in-out;
  width: 100%;
  position: relative;
}
/* line 537, ../sass/app.scss */
.post-description::before {
  position: absolute;
  top: -24px;
  left: 30px;
  width: 20px;
  height: 20px;
  content: '';
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-top: 13px solid transparent;
  border-bottom: 13px solid #eee;
}
/* line 550, ../sass/app.scss */
.post-description .post-title {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  margin-top: 0;
  font-weight: 600;
}
/* line 556, ../sass/app.scss */
.post-description .post-title:hover {
  color: #dec300;
}
/* line 559, ../sass/app.scss */
.post-description .post-title a {
  color: #4a4a4a;
  display: block;
}
/* line 563, ../sass/app.scss */
.post-description .post-title a:hover {
  color: #dec300;
}

/* line 573, ../sass/app.scss */
.post-tag li {
  border-right: 1px solid #28acb6;
}
/* line 576, ../sass/app.scss */
.post-tag li a {
  font-family: "Open Sans", sans-serif;
  color: #28acb6;
  font-size: 12px;
  font-weight: 600;
}
/* line 582, ../sass/app.scss */
.post-tag li a:hover {
  color: #dec300;
}
/* line 588, ../sass/app.scss */
.post-tag li:last-child {
  border: 0;
}

/* line 596, ../sass/app.scss */
.poster {
  border-top: 1px solid #d2d2d2;
  font-family: "Open Sans", sans-serif;
  background: #eeeeee;
  padding: 13px 15px;
  float: left;
  transition: .4s ease-in-out;
  width: 100%;
  position: relative;
}
/* line 606, ../sass/app.scss */
.poster img {
  max-height: 58px;
  float: left;
  margin-right: 10px;
}
/* line 613, ../sass/app.scss */
.poster .author {
  float: left;
  font-weight: 600;
  padding-top: 2px;
  margin-bottom: 20px;
}
/* line 619, ../sass/app.scss */
.poster .author .like {
  color: #4a4a4a;
}
/* line 621, ../sass/app.scss */
.poster .author .like b {
  color: #000;
}
/* line 627, ../sass/app.scss */
.poster .author a {
  color: #4a4a4a;
}
/* line 630, ../sass/app.scss */
.poster .author a:hover {
  color: #dec300;
}
/* line 637, ../sass/app.scss */
.poster .label-blog {
  display: block;
  padding: 2px;
  background: #9b9b9b;
  width: 62px;
  text-align: center;
  border-radius: 4px;
  color: #FFF;
  margin-top: 5px;
  font-weight: 300;
}

/* line 652, ../sass/app.scss */
.trending-cate {
  margin-bottom: 30px;
}
/* line 655, ../sass/app.scss */
.trending-cate .load-more {
  font-size: 14px;
  padding: 10px 32px;
  margin-right: 6px;
  margin-bottom: 6px;
}

/* line 665, ../sass/app.scss */
.select-style {
  border: 0;
  border-radius: 3px;
  margin-right: 10px;
  overflow: hidden;
  background: #eeeeee url("../img/select-icon.png") no-repeat 90% 50%;
}

/* line 673, ../sass/app.scss */
.navbar-default .navbar-toggle {
  border-color: #28acb6;
  border-radius: 0;
}

/* line 678, ../sass/app.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #28acb6;
}

/* line 682, ../sass/app.scss */
.select-style select {
  text-transform: uppercase;
  font: 500 14px "Open Sans", sans-serif;
  padding: 14px 44px 14px 7px;
  width: 110%;
  color: #777;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

/* line 695, ../sass/app.scss */
.select-style select:focus {
  outline: none;
}

/* line 700, ../sass/app.scss */
.btn-signup {
  color: #28acb6 !important;
  border-left: 1px solid #777;
}

/* line 705, ../sass/app.scss */
.jwplayer .jwdisplayIcon div {
  background-image: url("../img/icon-play.png") !important;
}

/* line 710, ../sass/app.scss */
.youtube-player {
  position: relative;
  width: 360px;
  height: 320px;
  margin: auto;
  cursor: pointer;
}

/* line 718, ../sass/app.scss */
.youtube-player img {
  width: 100%;
}

/* line 722, ../sass/app.scss */
.youtube-player.pristine::before {
  content: '';
  font-family: 'FontAwesome';
  position: absolute;
  top: 47%;
  left: 49%;
  margin-top: -60px;
  margin-left: -60px;
  background: url("../img/play.png") center/cover no-repeat;
  height: 120px;
  transition: opacity .2s ease;
  width: 120px;
}

/* line 737, ../sass/app.scss */
.youtube-player.pristine:hover::before {
  opacity: .7;
}

/* line 742, ../sass/app.scss */
.message-drop {
  position: relative;
}
/* line 744, ../sass/app.scss */
.message-drop .count {
  position: absolute;
  z-index: 100;
  top: 0px;
  height: 16px;
  right: 14px;
  background: #d0021b;
  border-radius: 100%;
  font-size: 11px;
  color: #FFF;
  line-height: 1.4;
  width: 16px;
  text-align: center;
}

/* line 760, ../sass/app.scss */
.breadcrumb-pro {
  background: #d8d8d8;
  padding: 9px 12px;
}
/* line 765, ../sass/app.scss */
.breadcrumb-pro .angle-box {
  display: inline-block;
  padding: 4px 13px;
  font-size: 17px;
  /* width: 32px; */
  background: #28acb6;
  color: #fff;
  margin-right: 20px;
}
/* line 775, ../sass/app.scss */
.breadcrumb-pro .title {
  font-family: "Open Sans", sans-serif;
  color: #28acb6;
  font-weight: 600;
}

/* line 782, ../sass/app.scss */
.margin-btm30 {
  margin-bottom: 30px;
}

/* line 787, ../sass/app.scss */
.single-product-title {
  background: #fff;
  padding: 20px 33px;
  transition: .4s ease-in-out;
  position: relative;
}
/* line 793, ../sass/app.scss */
.single-product-title .title {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  color: #4a4a4a;
  display: block;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 18px;
}
/* line 809, ../sass/app.scss */
.single-product-title .star-review a {
  display: inline-block;
  padding: 1px 4.5px;
  border-radius: 2px;
  background: #c6c6c6;
  transition: .4s ease-in-out;
}
/* line 817, ../sass/app.scss */
.single-product-title .star-review a.checked {
  background: #dec300;
}
/* line 820, ../sass/app.scss */
.single-product-title .star-review a.half-checked {
  background: linear-gradient(to right, #dec300 50%, #c6c6c6 50%);
}
/* line 825, ../sass/app.scss */
.single-product-title .star-review a i {
  color: #FFF;
}
/* line 832, ../sass/app.scss */
.single-product-title .review-count {
  font-family: "Open Sans", sans-serif;
  color: #33b7c1;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 40px;
}

/* line 841, ../sass/app.scss */
.people-refer {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  font-weight: 600;
}
/* line 846, ../sass/app.scss */
.people-refer img {
  max-height: 19px;
  margin-right: 10px;
}

/* line 854, ../sass/app.scss */
.heart-filling {
  text-align: center;
  margin-top: 12px;
  height: 50px;
  width: 50px;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  color: #28acb6;
  padding: 10px;
  display: block;
}
/* line 864, ../sass/app.scss */
.heart-filling i {
  cursor: pointer;
  font-size: 30px;
  color: #28acb6;
}

/* line 871, ../sass/app.scss */
.gallery-box {
  background: #fff;
  margin-bottom: 30px;
  padding: 20px 20px 40px;
  float: left;
  width: 100%;
}
/* line 878, ../sass/app.scss */
.gallery-box .slick-next {
  background-color: #ebda64;
  height: 82px;
  width: 42px;
  right: -1px;
  top: 50%;
  margin-top: -7px;
  z-index: 999;
  color: #FFF;
  opacity: 10;
}
/* line 887, ../sass/app.scss */
.gallery-box .slick-next:hover {
  background: #28acb6;
}
/* line 893, ../sass/app.scss */
.gallery-box .slick-next::before {
  content: '\f054';
  font-family: FontAwesome;
  opacity: 10;
  color: #FFF;
  font-size: 26px;
  padding-left: 5px;
}
/* line 903, ../sass/app.scss */
.gallery-box .slick-prev {
  background-color: #ebda64;
  height: 82px;
  width: 42px;
  left: -1px;
  top: 50%;
  margin-top: -7px;
  z-index: 999;
  color: #FFF;
  opacity: 10;
}
/* line 913, ../sass/app.scss */
.gallery-box .slick-prev:hover {
  background: #28acb6;
}
/* line 919, ../sass/app.scss */
.gallery-box .slick-prev::before {
  padding-right: 5px;
  font-size: 26px;
  color: #FFF;
  content: '\f053';
  font-family: FontAwesome;
  opacity: 10;
}
/* line 928, ../sass/app.scss */
.gallery-box .gallery-slider {
  padding-bottom: 20px;
  float: left;
  width: 100%;
  border-bottom: 2px solid #cdcdcd;
  text-align: center;
}
/* line 934, ../sass/app.scss */
.gallery-box .gallery-slider .pro-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 534px;
}
/* line 939, ../sass/app.scss */
.gallery-box .gallery-slider .pro-cover img {
  display: inline-block;
  cursor: pointer;
}
/* line 948, ../sass/app.scss */
.gallery-box .slider-nav .min-box {
  text-align: center;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 128px;
}
/* line 955, ../sass/app.scss */
.gallery-box .slider-nav .min-box img {
  display: inline-block;
  cursor: pointer;
}

/* line 962, ../sass/app.scss */
.ds-fw {
  float: left;
  width: 100%;
}

/* line 967, ../sass/app.scss */
.slick-slide {
  outline: none !important;
}

/* line 971, ../sass/app.scss */
.title2 {
  margin: 0 0 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #4a4a4a;
  padding-left: 20px;
}

/* line 980, ../sass/app.scss */
.top-review {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  padding: 20px 25px;
}
/* line 988, ../sass/app.scss */
.top-review .visiter {
  padding: 0 0 15px;
  float: left;
  transition: .4s ease-in-out;
  width: 100%;
  position: relative;
}
/* line 995, ../sass/app.scss */
.top-review .visiter .visiter-img {
  max-height: 58px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 24px;
}
/* line 1005, ../sass/app.scss */
.top-review .visiter .name {
  font-weight: 600;
  padding-top: 10px;
  margin: 0;
  color: #4a4a4a;
}
/* line 1012, ../sass/app.scss */
.top-review .visiter .name a {
  color: #4a4a4a;
  display: block;
}
/* line 1020, ../sass/app.scss */
.top-review .visiter .date {
  font-weight: 600;
  margin: 0;
  color: #929292;
}
/* line 1032, ../sass/app.scss */
.top-review .like-count i {
  font-size: 22px;
  color: #6a6a6a;
}

/* line 1043, ../sass/app.scss */
.review-box {
  padding: 5px 18px 20px;
  background: #eeeeee;
  border-radius: 6px;
}
/* line 1048, ../sass/app.scss */
.review-box hr {
  margin: 5px 0;
  border-top-color: #fff;
}

/* line 1053, ../sass/app.scss */
.by-star-rating {
  margin-bottom: 15px;
  margin-top: 15px;
}
/* line 1056, ../sass/app.scss */
.by-star-rating a {
  display: inline-block;
  padding: 0px 3px;
  border-radius: 2px;
  background: #c6c6c6;
  transition: .4s ease-in-out;
}
/* line 1064, ../sass/app.scss */
.by-star-rating a p {
  font-family: "Open Sans", sans-serif;
  color: #474747;
}
/* line 1068, ../sass/app.scss */
.by-star-rating a p b {
  color: #1e1e1e;
}
/* line 1075, ../sass/app.scss */
.by-star-rating a.checked {
  background: #dec300;
}
/* line 1078, ../sass/app.scss */
.by-star-rating a.half-checked {
  background: linear-gradient(to right, #dec300 50%, #c6c6c6 50%);
}
/* line 1083, ../sass/app.scss */
.by-star-rating a i {
  color: #FFF;
  font-size: 13px;
}

/* line 1092, ../sass/app.scss */
.video-box .youtube-player {
  position: relative;
  width: 520px;
  height: 330px;
  margin: auto;
  cursor: pointer;
  text-align: center;
}
/* line 1101, ../sass/app.scss */
.video-box .youtube-player img {
  display: inline-block;
}
/* line 1105, ../sass/app.scss */
.video-box .youtube-player.pristine::before {
  content: '';
  font-family: 'FontAwesome';
  position: absolute;
  top: 47%;
  left: 49%;
  margin-top: -60px;
  margin-left: -60px;
  background: url("../img/play.png") center/cover no-repeat;
  height: 120px;
  transition: opacity .2s ease;
  width: 120px;
}
/* line 1120, ../sass/app.scss */
.video-box .youtube-player.pristine:hover::before {
  opacity: .7;
}

/* line 1127, ../sass/app.scss */
.description-box {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #545454;
}
/* line 1132, ../sass/app.scss */
.description-box .related-images {
  text-align: center;
}
/* line 1135, ../sass/app.scss */
.description-box .related-images img {
  display: inline-block;
  max-height: 100px;
}

/* line 1142, ../sass/app.scss */
.bg-box {
  background: #eeeeee;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 2px;
}
/* line 1148, ../sass/app.scss */
.bg-box h4 {
  margin-top: 0;
}

/* line 1154, ../sass/app.scss */
.link-more-pro {
  padding: 5px 2px;
  background: #fff;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #28acb6;
}
/* line 1169, ../sass/app.scss */
.link-more-pro img {
  display: inline-block;
}

/* line 1175, ../sass/app.scss */
.detail-product {
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
/* line 1181, ../sass/app.scss */
.detail-product .description {
  color: #4a4a4a;
  font-size: 15px;
  margin-bottom: 20px;
}
/* line 1187, ../sass/app.scss */
.detail-product .price {
  color: #767676;
  font-size: 22px;
}
/* line 1194, ../sass/app.scss */
.detail-product .poster .author {
  padding-top: 9px;
  margin-bottom: 6px;
}
/* line 1198, ../sass/app.scss */
.detail-product .poster .author a {
  color: #28acb6;
}
/* line 1203, ../sass/app.scss */
.detail-product .poster {
  background: #fff;
  border: 0;
}
/* line 1207, ../sass/app.scss */
.detail-product .poster img {
  max-height: 40px;
}
/* line 1212, ../sass/app.scss */
.detail-product .More {
  padding: 20px 0 20px;
  border-top: 1px solid #ddd;
}
/* line 1216, ../sass/app.scss */
.detail-product .More .title {
  font-weight: 600;
  color: #6d6d6d;
}
/* line 1221, ../sass/app.scss */
.detail-product .More p {
  color: #6d6d6d;
}
/* line 1226, ../sass/app.scss */
.detail-product .link {
  color: #28acb6;
}

/* line 1233, ../sass/app.scss */
.btn-store {
  background: #28acb6;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 14px;
  margin-bottom: 7px;
}
/* line 1240, ../sass/app.scss */
.btn-store:hover {
  background: #dec300;
  color: #FFF;
}
/* line 1245, ../sass/app.scss */
.btn-store.outline {
  border: 1px solid #28acb6;
  color: #28acb6;
  background: transparent;
}
/* line 1250, ../sass/app.scss */
.btn-store.outline:hover {
  background: #28acb6;
  color: #FFF;
}

@media (max-width: 678px) {
  /* line 3, ../sass/screen.scss */
  .select-style {
    margin: 10px;
  }

  /* line 9, ../sass/screen.scss */
  .Search .email-btn {
    right: 0px;
  }

  /* line 13, ../sass/screen.scss */
  .btn-signup {
    border: 0;
  }
}
@media (max-width: 768px) {
  /* line 20, ../sass/screen.scss */
  .description-box {
    margin-top: 20px;
  }
}
@media (max-width: 440px) {
  /* line 28, ../sass/screen.scss */
  .gallery-box .gallery-slider .pro-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
  }

  /* line 36, ../sass/screen.scss */
  .video-box .youtube-player img {
    display: inline-block;
    min-height: 200px;
  }
}
@media (max-width: 1200px) {
  /* line 46, ../sass/screen.scss */
  .video-box .youtube-player {
    position: relative;
    width: 100%;
  }

  /* line 50, ../sass/screen.scss */
  .navbar-header {
    float: none;
  }

  /* line 53, ../sass/screen.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }

  /* line 56, ../sass/screen.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 59, ../sass/screen.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 63, ../sass/screen.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 67, ../sass/screen.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 70, ../sass/screen.scss */
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  /* line 74, ../sass/screen.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 77, ../sass/screen.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 81, ../sass/screen.scss */
  .collapse.in {
    display: block !important;
  }

  /* line 84, ../sass/screen.scss */
  .select-style {
    margin: 0;
  }

  /* line 88, ../sass/screen.scss */
  .select-style {
    margin-bottom: 10px !important;
  }

  /* line 93, ../sass/screen.scss */
  .Search-inner-page {
    margin: 0;
  }

  /* line 97, ../sass/screen.scss */
  .Search-inner-page input {
    width: 100%;
    margin-bottom: 10px;
  }
}
